*.class
*.java
# Package Files #
*.jar
*.war
*.ear

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

sketch.properties
applet
application.macosx
build-tmp/
web-export/

data/
out/
savedImages/
srcFiles/
*.jpg
*.JPG
*.tiff
*.TIFF
*.png
*.PNG